
@{
    ViewData["Title"] = "Atb_card_credit";
}

<div class="other_page_banner">
    <img src="~/assets/images/slider2.png" style="width:100%">
    <div class="text">
        <h2>atb card</h2>
        <p>kredit</p>
        <button class="banner_btn subscribe"><a href="~/#">sifariş</a></button>
    </div>
</div>

<div class="maincontainer">

    <div class="Cards_Two">
        <div class="row ">
            <div class="col-lg-3 card_info">
                <h2>kreditin məbləği</h2>
                <p>500 – 10 000 azn</p>
            </div>
            <div class="col-lg-3 card_info">
                <h2>500 – 10 000 azn</h2>
                <p>zaminsiz kredit</p>
            </div>
            <div class="col-lg-3 card_info">
                <h2>müddət</h2>
                <p>3 il</p>
            </div>
            <div class="col-lg-3 card_info">
                <h2>3 illik</h2>
                <p>20%</p>
            </div>
        </div>
    </div>

    <div class="Superiority">
        <div class=" Superiority_Top">
            <div class="row">
                <div class="col-lg-6 atb_text">
                    <h2>qalığa 5.5% gəlir</h2>
                    <p>kartda saxladığınız debit balans məbləğinə <br> illik 5.5% gəlir əldə edəcəksiniz</p>
                </div>
                <div class="col-lg-6">
                    <img src="~/assets/images/fivepercent.png" alt="">
                </div>
            </div>

        </div>

        <div class="Superiority_Bottom">
            <div class="row">
                <div class="col-lg-6">
                    <div class="Superiority_One">
                        <div class="row">
                            <div class=" col-lg-6">
                                <h4>card to card 0%</h4>
                                <p> <a href="~/./atb360.html">atb360</a>  mobil tətbiqi və <br> <a href="~/./cardtocard.html"></a> atb.az/c2c səhifəsində</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="~/assets/images/cardtocard.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="Superiority_Two">
                        <div class="row">
                            <div class=" col-lg-6">
                                <h4>0% konvertasiya</h4>
                                <p> fərqli valyutada əməliyyatlar <br> zamanı konvertasiya 0%</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="~/assets/images/konvertasiya.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Online_Order">
        <h2>online sifariş</h2>
        <p>3 il – 20% illik <br> kredit xətti 10 000 AZN-dək</p>
        <input type="text" placeholder="kredit xəttin məbləği (min. 500 AZN - maks. 10 000 AZN)">
        <input type="text" placeholder="çatdırılma ünvanı">
        <p>*çatdırılma yalnız Bakı şəhəri üzrədir</p>

        <h4>şəxsi məlumat</h4>
        <input type="text" placeholder="ad, soyad">
        <div class="row">
            <div class="col-lg-6">
                <input type="tel" placeholder="telefon">
            </div>
            <div class="col-lg-6">
                <input type="email" placeholder="email">
            </div>
        </div>

        <input type="text" placeholder="fin kod">
        <input type="text" placeholder="iş yeri (qurumun adı)">
        <div class="row">
            <div class="col-lg-6">
                <input type="number" placeholder="iş stajı (ay)">
            </div>
            <div class="col-lg-6">
                <input type="number" placeholder="rəsmi gəlir (rəqəmlə)">
            </div>
        </div>

        <div class="cash_order_last">
            <div class="row">
                <div class="col-lg-1">
                    <label class="cus-checkbox__label">
                        <input type="checkbox" class="cus-checkbox__input" checked="">
                        <span class="cus-checkbox__check"></span>
                    </label>
                </div>
                <div class="col-lg-11">
                    <p>məlumatlarımın Asan Finansdan əldə edilməsi və AKB reyestrində sorğu edilməsinə razıyam</p>
                </div>
            </div>
        </div>

        <div class="button">
            <button id="button">göndər</button>
        </div>

        <p>*bütün bəndlərin doldurulması mütləqdir</p>

    </div>

    <div class="Superiority">
        <div class=" Superiority_Top" style="background-image: url(../assets/images/consumption_credit.jpg);">
            <div class="row">
                <div class="col-lg-10 easy_text">
                    <h2>rahat və müasir atb360 mobil <br> tətbiqi</h2>
                    <p>rahat və güvənli atb360 mobil tətbiqi ilə <br> bütün bank əməliyyatlarını smartfonunuzdan <br> aparın</p>
                </div>
                <div class="col-lg-2 easy_app">
                    <p>tətbiqi <br> yükləyin</p>
                    <a href="~/consumption_credit.html" target="_blank"><img src="~/assets/images/qr.svg" alt=""></a>
                    <br>
                    <a href="~/consumption_credit.html" target="_blank"><img src="~/assets/images/app.svg" alt=""></a>
                </div>
            </div>

        </div>
    </div>

    <div class="Useful_Info">
        <h4>faydalı məlumat</h4>
        <div class="interest_rates">
            <div class="row">
                <div class="col-lg-11" id="interest_rates_tittle">
                    faiz dərəcələri
                </div>
                <div class="col-lg-1">
                    <button class="subscribe" onclick="Open_interest_rates_menu()" id="Open_interest_rates_menu"><i class="fa-solid fa-plus" id="openiconcon"></i></button>
                </div>
            </div>
            <div class="interest_rates_menu" id="interest_rates_menu">
                <table>
                    <tr>
                        <th>müddət</th>
                        <th>faiz dərəcəsi</th>
                        <th>xidmət haqqı</th>
                    </tr>
                    <tr>
                        <td>12 ayadək</td>
                        <td>11.5%</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>24 ayadək</td>
                        <td>13.5%</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>36 ayadək</td>
                        <td>14%</td>
                        <td>0.5% (min. 50 AZN)</td>
                    </tr>
                    <tr>
                        <td>48 ayadək</td>
                        <td>15%</td>
                        <td>1% (min. 50 AZN)</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="conditions">
            <div class="row">
                <div class="col-lg-11" id="contittle">
                    şərtlər
                </div>
                <div class="col-lg-1">
                    <button class="subscribe" onclick="OpenConditionMenu()" id="OpenConditionMenu"><i class="fa-solid fa-plus" id="openiconcon"></i></button>
                </div>
            </div>
            <div class="condition_menu" id="condition_menu">

                <ul>
                    <li>məbləğ: <b>300 – 30 000 AZN</b> </li>
                    <li>30 000 AZN-dək <b>zaminsiz</b></li>
                    <li>valyuta: <b>AZN</b></li>
                    <li>müddət:  <b>3 – 48 ay</b></li>
                    <li>ödəniş şərti: <b>annuitet</b></li>
                    <li>sığorta: <b>tələb olunmur</b></li>
                </ul>

            </div>
        </div>

        <div class="requirements">
            <div class="row">
                <div class="col-lg-11" id="requirementstittle">
                    tələblər
                </div>
                <div class="col-lg-1">
                    <button class="subscribe" onclick="OpenrequirementsMenu()" id="OpenrequirementsMenu"><i class="fa-solid fa-plus" id="openiconcon"></i></button>
                </div>
            </div>
            <div class="requirements_menu" id="requirements_menu">

                <ul>
                    <li>yaş həddi: <b>18-70</b> </li>
                    <li>iş yeri<b> rəsmi iş yeri olan istənilən şəxs / təqaüdçü</b></li>
                    <li>iş stajı: <b>6 ay, sonuncu iş yerində fasiləsiz keçidlə minimum 3 ay</b></li>
                    <li>əməkhaqqı:  <b>minimum tələb yoxdur</b></li>
                </ul>

            </div>
        </div>


    </div>
</div>

