
@{
    ViewData["Title"] = "Sms";
}

<div class="other_page_banner_2">
    <img src="~/assets/images/rates.jpg" style="width: 100%" />
    <div class="text_sms">
        <h2>"SMS bildiriş"</h2>
        <p>xidməti</p>
    </div>
</div>
<div class="maincontainer">
    <div class="sms_main">
        <h3>xidmətin üstünlükləri</h3>
        <ul>
            <li>real vaxt rejimində informasiyanın göndərilməsi</li>
            <li>vaxt və yer fərqi olmadan xidmət</li>
            <li>istənilən mobil nömrədən xidmətə qoşulmaq imkanı</li>
        </ul>

        <h3>xidmətə qoşularaq nə əldə edirəm?</h3>
        <ul>
            <li>
                kart hesabı üzrə aparılan mədaxil və məxaric əməliyyatları barədə
                məlumat
            </li>
            <li>ödəniş kartının cari balansı haqqında məlumat</li>
            <li>
                hər hansı səbəbdən kartın statusunun dəyişdirilməsi haqqında məlumat
            </li>
            <li>
                ödəniş kartının istifadə müddətinin bitməsinə 1 ay qalmış
                xəbərdarlıq
            </li>
            <li>
                təhlükəsizliyi təmin edilmiş saytlar vasitəsilə onlayn ödənişlər
                zamanı “OTP” kodlar
            </li>
            <li>
                “PİN kodun dəyişdirilməsi” xidmətindən istifadə zamanı bildiriş
            </li>
            <li>uğursuz əməliyyatlar haqqında məlumatlandırma</li>
        </ul>

        <h3>qoşulmaq üçün:</h3>
        <ol>
            <li>
                <a id="web_site" href="atb_card.html">saytdan</a> və ya
                <a href="branchs.html">filial/şöbəyə</a> yaxınlaşaraq xüsusi kart
                sifariş formasını doldurduğunuz zaman mobil nömrə qeyd edilərsə,
                xidmət dərhal aktivləşdirilir
            </li>
            <li>
                24/7 <a href="tel:945">945</a> və ya WhatsApp
                <a href="https://api.whatsapp.com/send/?phone=994557770945&text&type=phone_number&app_absent=0">+994 55 777 09 45</a>
                nömrəsinə müraciət edərək kartın üzərində əks olunmuş 16 rəqəmli
                nömrəni və məxfi sözü bildirin
            </li>
            <li>banka məxsus bankomatlar vasitəsilə:</li>
            <ul>
                <li>kartı bankomata daxil edin</li>
                <li>xidmət olunacaq dili seçin</li>
                <li>“PİN” kodu daxil edin</li>
                <li>
                    ekranda əks olunmuş “SMS bildiriş” menyusundan “SMS xidmətinə
                    qoşulmaq” bəndini seçin
                </li>
                <li>
                    xidməti aktiv etmək istədiyiniz mobil nömrəni ardıcıl iki dəfə
                    daxil edin
                </li>
                <li>
                    nömrəyə göndəriləcək sms mətninin dilini seçərək təsdiq edin
                </li>
                <li>
                    bankomat tərəfindən əməliyyatın uğurla tamamlandığını təsdiq edən
                    çek təqdim edilərək mobil nömrənizə sms mətni göndəriləcəkdir
                </li>
            </ul>
        </ol>

        <h3>&nbsp</h3>
        <h3>xidmətin aktiv olduğu nömrəni dəyişmək üçün:</h3>
        <ol>
            <li>
                <a href="tel:945">945</a> və ya WhatsApp
                <a href="https://api.whatsapp.com/send/?phone=994557770945&text&type=phone_number&app_absent=0">+994 55 777 09 45</a>
                nömrəsinə müraciət edin
            </li>
            <li><a href="branchs.html">filial/şöbəyə</a> müraciət edin</li>
            <li>banka məxsus bankomatlar vasitəsilə:</li>
            <ul>
                <li>kartı bankomata daxil edin</li>
                <li>xidmət olunacaq dili seçin</li>
                <li>“PİN” kodu daxil edin</li>
                <li>
                    ekranda əks olunmuş “SMS bildiriş” menyusundan “SMS xidməti üçün
                    telefon nömrəsini dəyişmək” bəndini seçin
                </li>
                <li>
                    yeni telefon nömrəsini ardıcıl iki dəfə daxil edərək, təsdiq edin
                </li>
                <li>
                    mobil nömrənin dəyişdirilməsi haqqında bankomat tərəfindən çek
                    təqdim edilərək mobil nömrənizə məlumat göndəriləcəkdir
                </li>
            </ul>
        </ol>

        <h3>&nbsp</h3>
        <h3>xidməti ləğv etmək üçün:</h3>
        <ol>
            <li>
                <a href="tel:945">945</a> və ya WhatsApp
                <a href="https://api.whatsapp.com/send/?phone=994557770945&text&type=phone_number&app_absent=0">+994 55 777 09 45</a>
                nömrəsinə müraciət edin
            </li>
            <li><a href="branchs.html">filial/şöbəyə</a> müraciət edin</li>
            <li>banka məxsus bankomatlar vasitəsilə:</li>
            <ul>
                <li>kartı bankomata daxil edin</li>
                <li>xidmət olunacaq dili seçin</li>
                <li>“PİN” kodu daxil edin</li>
                <li>
                    ekranda əks olunmuş “SMS bildiriş” menyusundan “SMS xidmətini ləğv
                    etmək” bəndini seçin
                </li>
                <li>
                    xidmətin deaktiv edilməsi haqqında bankomat tərəfindən çek təqdim
                    edilərək mobil nömrənizə məlumat göndəriləcəkdir
                </li>
            </ul>
        </ol>

        <p>
            “SMS bildiriş” mətninin dilini bankın istənilən filialına,
            <a href="tel:945">945</a> nömrəsi və ya
            <a href="https://api.whatsapp.com/send/?phone=994557770945&text&type=phone_number&app_absent=0">WhatsApp</a>-a müraciət etməklə dəyişə bilərsiniz
        </p>
    </div>
</div>

