
@{
    ViewData["Title"] = "Bank_information";
}

<div class="other_page_banner">
    <img src="~/assets/images/rates.jpg" style="width:100%">
    <div class="text">
        <h2>bank məlumatları</h2>
    </div>
</div>

<div class="maincontainer">

    <div class="Cards">
        <div class="row">
            <div class="col-lg-4">
                <a href="https://atb.az/shareholders/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">səhmdarlar</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-info"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="https://atb.az/management/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">rəhbərli</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-users-gear"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="https://atb.az/structure/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">struktur</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-folder-tree"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="https://atb.az/mission/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">missiya və strateji baxış</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-person-circle-question"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="https://atb.az/info/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">ümumi məlumat</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-building-columns"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="https://atb.az/appeal/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">apellyasiya şurası</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-regular fa-handshake"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="https://atb.az/st/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">standart şərtlər toplusu</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-certificate"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="https://atb.az/risk/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">risklərin idarə edilməsi</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-file-circle-check"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="https://atb.az/requisites/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">rekvizitlər</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-info"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="https://atb.az/media/">
                    <div class="cards cards_bank_info">
                        <div class="row">
                            <div class="col-lg-8">
                                <p class="cards__item-title">media materiallar</p>
                            </div>
                            <div class="col-lg-4">
                                <i class="fa-solid fa-film"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>

