
@{
    ViewData["Title"] = "Correspondent_account";
}

<div class="other_page_banner">
    <img src="~/assets/images/account.png" style="width: 100%" />
    <div class="text">
        <h2>müxbir</h2>
        <p>hesablar</p>
        <button class="banner_btn subscribe">
            <a href="#">filialı tapmaq</a>
        </button>
    </div>
</div>

<div class="maincontainer">
    <div>
        <h2><b>kompleks xidmətlər sistemi</b></h2>
        <p>&nbsp;</p>
        <h5>
            <span style="text-decoration: underline">
                <b>sistem aşağıdakıları həyata keçirməyə imkan verir:</b>
            </span>
        </h5>
        <p>&nbsp;</p>
        <ul>
            <li>müxbir hesabları aparmaq</li>
            <li>respublikada və xaricdə nağdsız hesablaşmalar aparmaq</li>
            <li>konversiya əməliyyatları aparmaq</li>
            <li>
                əməliyyatlar və hesabın vəziyyəti haqqında arayış və çıxarışlar,
                ödəmə sənədlərinin surətlərini almaq
            </li>
            <li>
                nağd pul vəsaitini hesaba köçürmək, hesabdan nağd vəsait götürmək
            </li>
            <li>köçürülmüş pul vəsaitinin axtarışı üçün sorğu vermək</li>
            <li>
                sorğu olunan dövrdə müştərinin hesab tarixi üzrə informasiya ilə
                təmin etmək
            </li>
        </ul>
        <p>&nbsp;</p>
        <h5>
            <span style="text-decoration: underline"> <b>üstünlükləri:</b></span>
        </h5>
        <p>&nbsp;</p>
        <ul>
            <li>
                bankda mövcud olan S.W.I.F.T. elektron ödəmə sistemi həm
                respublikanın ərazisində, həm də xaricdə köçürmələri tez və
                keyfiyyətlə həyata keçirir
            </li>
        </ul>
    </div>

    <div class="Useful_Info">
        <h4>faydalı məlumat</h4>
        <div class="conditions">
            <div class="row">
                <div class="col-lg-11" id="contittle">
                    hesab açmaq üçün sənədlər
                </div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenConditionMenu()"
                            id="OpenConditionMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="condition_menu" id="condition_menu">
                <p>
                    Azərbaycan Respublikası Mərkəzi Bankının təlimatlarına uyğun
                    olaraq Rezident banklar Milli valyutada müxbir hesaba yalnız
                    Azərbaycan Respublikası Mərkəzi Bankında malik ola bilərlər
                </p>
            </div>
        </div>

        <div class="requirements">
            <div class="row">
                <div class="col-lg-11" id="requirementstittle">tələblər</div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenrequirementsMenu()"
                            id="OpenrequirementsMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="requirements_menu" id="requirements_menu">
                <p>
                    Azərbaycan Respublikası Mərkəzi Bankının təlimatlarına uyğun
                    olaraq Rezident banklar Milli valyutada müxbir hesaba yalnız
                    Azərbaycan Respublikası Mərkəzi Bankında malik ola bilərlər
                </p>
            </div>
        </div>
    </div>
</div>

