
@{
    ViewData["Title"] = "Depozit_boxs";
}

<div class="other_page_banner">
    <img src="~/assets/images/atb_depositsafe.png" style="width: 100%" />
    <div class="text">
        <p>depozit</p>
        <h2>qutuları</h2>
    </div>
</div>

<div class="maincontainer">

    <div class="Info_deposit_box">
        <h3>dəyərli əşyalar və sənədlərin təhlükəsiz saxlanması üçün bank depozit qutularını icarəyə götürün</h3>
    </div>

    <div class="deposit_box_main">
        <h2>tariflər (ƏDV daxil)</h2>


        <div class="tittle_boxs">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6">
                            <p>qutunun ölçüsü</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>müddət</p>
                        </div>
                        <div class="col-lg-6">
                            <p> qiymət</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_boxs">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>45/95 x 295 x 420 mm</p>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>1 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>20 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>55 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>110 AZN</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <p>1 il</p>
                        </div>
                        <div class="col-lg-6">
                            <p>200 AZN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_boxs">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>45/95 x 295 x 420 mm</p>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>1 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>20 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>55 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>110 AZN</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <p>1 il</p>
                        </div>
                        <div class="col-lg-6">
                            <p>200 AZN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_boxs">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>195 x 295 x 420 mm</p>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>1 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>20 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>55 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>110 AZN</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <p>1 il</p>
                        </div>
                        <div class="col-lg-6">
                            <p>200 AZN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_boxs">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>295/395 x 295 x 420 mm</p>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>1 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>20 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>55 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>110 AZN</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <p>1 il</p>
                        </div>
                        <div class="col-lg-6">
                            <p>200 AZN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_boxs">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>445/495 x 295 x 420 mm</p>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>1 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>20 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>55 AZN</p>
                        </div>
                    </div>
                    <div class="row box_left">
                        <div class="col-lg-6">
                            <p>3 ay</p>
                        </div>
                        <div class="col-lg-6">
                            <p>110 AZN</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <p>1 il</p>
                        </div>
                        <div class="col-lg-6">
                            <p>200 AZN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

