
@{
    ViewData["Title"] = "Exchange_method";
}

<div class="other_page_banner">
    <img src="~/assets/images/exchange.png" style="width: 100%" />
    <div class="text">
        <h2>valyuta mübadiləsi</h2>
        <p>əməliyyatları</p>
        <button class="banner_btn subscribe">
            <a href="#">filialı tapmaq</a>
        </button>
    </div>
</div>

<div class="maincontainer">
    <div>
        &nbsp
        <h4>
            <b>
                Azər Türk Bank müştərilər üçün valyuta mübadiləsi əməliyyatları
                üzrə aşağıdakı xidmətləri təklif edir
            </b>
        </h4>
        <p>&nbsp;</p>
        <ul>
            <li>mövcud məzənnə ilə xarici valyutanın alışı və satışı</li>
            <li>xarici valyutaların mövcud məzənnə ilə konvertasiyası</li>
            <li>
                milli və xarici valyutada emissiya edilmiş ödəniş kartı ilə xarici
                valyutanın nağdlaşdırılması
            </li>
            <li>
                milli və xarici valyutada emissiya edilmiş ödəniş kartı ilə milli
                valyutanın nağdlaşdırılması
            </li>
            <li>pul nişanlarının mübadiləsi</li>
        </ul>
        <p>&nbsp;</p>
        <p>
            <b>
                “Azər-Türk Bank” ASC-də nağd xarici valyuta mübadiləsi
                əməliyyatları aşağıdakı kateqoriyalara bölünmüşdür:
            </b>
        </p>
        <p><b>500 USD-dək</b></p>
        <p>
            əməliyyat aparılacaq məbləğin Azərbaycan Respublikası Mərkəzi Bankının
            Elektron Portalı vasitəsilə bankımızda və digər banklarda əvvəllər
            (eyni gündə və ya müxtəlif günlərdə) aparılmış əməliyyatların cəmi 500
            USD-dən az olduğu müəyyən edilərsə, əməliyyat yalnız şəxsiyyət
            vəsiqəsi vasitəsilə həyata keçirilir (bank qəbzi imzalanır)
        </p>
        <p><b>500 USD ekvivalentindən 20 000 AZN ekvivalentinədək</b></p>
        <p>
            əməliyyat aparılacaq məbləğin Azərbaycan Respublikası Mərkəzi Bankının
            Elektron Portalı vasitəsilə bankımızda və digər banklarda əvvəllər
            (eyni gündə və ya müxtəlif günlərdə) aparılmış əməliyyatların cəmi 500
            USD-dən çox lakin 20 000 AZN-dən ekvivalentindən az olduğu müəyyən
            edilərsə, şəxsiyyət vəsiqəsi təqdim edilməklə, müştəri pul vəsaitinin
            mənbəyi barədə şifahi sorğu əsasında məlumatlar daxil edilir və
            müvafiq sənədlərin (bank qəbzi və Müştərini Tanı Anketi) imzalanması
            həyata keçirilir
        </p>
        <p><b>20 000 AZN ekvivalentindən çox</b></p>
        <p>
            əməliyyat aparılacaq məbləğin Azərbaycan Respublikası Mərkəzi Bankının
            Elektron Portalı vasitəsilə bankımızda və digər banklarda əvvəllər
            (eyni gündə və ya müxtəlif günlərdə) aparılmış əməliyyatların cəmi 20
            000 AZN ekvivalentindən çox olduğu müəyyən edilərsə, şəxsiyyət
            vəsiqəsi ilə yanaşı pul vəsaitinin mənbəyini təsdiq edən sənəd tələb
            edilir. sənədlər qaydasında olduqda, mübadilə olunacaq məbləğ bankda
            hesaba yerləşdirilir, təqdim edilmiş sənədlər 3 gün ərzində yoxlamadan
            keçdikdən sonra əməliyyatın icrasının mümkün olacağı barədə müştəriyə
            məlumat verilir və müştəri pul vəsaitinin mənbəyi barədə məlumatlar
            daxil edilir və müvafiq sənədlərin (bank qəbzi və Müştərini Tanı
            Anketi) imzalanması həyata keçirilir
        </p>
    </div>

    <div class="Useful_Info">
        <h4>faydalı məlumat</h4>
        <div class="requirements">
            <div class="row">
                <div class="col-lg-11" id="requirementstittle">
                    <p>
                        valyuta mübadiləsi zamanı fiziki şəxslər üçün vəsaitin mənbəyini
                        təsdiq edən sənədlərin siyahısı
                    </p>
                </div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenrequirementsMenu()"
                            id="OpenrequirementsMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="requirements_menu" id="requirements_menu">
                <ol>
                    <li>yaş həddi: <b>18-70</b></li>
                    <li>
                        iş yeri<b> rəsmi iş yeri olan istənilən şəxs / təqaüdçü</b>
                    </li>
                    <li>
                        iş stajı:
                        <b>6 ay, sonuncu iş yerində fasiləsiz keçidlə minimum 3 ay</b>
                    </li>
                    <li>əməkhaqqı: <b>minimum tələb yoxdur</b></li>
                </ol>
            </div>
        </div>
    </div>
</div>

