
@{
    ViewData["Title"] = "Settlement_cashier_service";
}

<div class="other_page_banner">
    <img src="~/assets/images/atb_kassa.png" style="width: 100%" />
    <div class="text">
        <h2>hesablaşma-kassa</h2>
        <p>xidməti</p>
        <button class="banner_btn subscribe">
            <a href="#">filialı tapmaq</a>
        </button>
    </div>
</div>

<div class="maincontainer">
    <div>
        <p>&nbsp;</p>
        <p>
            “Azər Türk Bank” ASC-də fiziki şəxslər üçün Azərbaycan manatı, ABŞ
            dolları, Avro, Rus rublu, Türk Lirəsi, İsveçrə Frankı və Funt
            Sterlinqdə cari hesabların açılması mümkündür. hesabların açılması və
            onlar üzrə əməliyyatların aparılması rejimi Azərbaycan Respublikasının
            qanunvericiliyinə və Bankın daxili qaydalarına uyğun olaraq həyata
            keçirilir
        </p>
        <p>&nbsp;</p>
        <h5>
            <span style="text-decoration: underline">
                <b>fiziki şəxslər aşağıdakı xidmətlərdən faydalana bilərlər:</b>
            </span>
        </h5>
        <p>&nbsp;</p>
        <ul>
            <li>yuxarıda göstərilmiş valyutalarda cari hesabların açılması</li>
            <li>ölkə daxilində və xaricə köçürmələr</li>
            <li>hesaba nağd və nağdsız qaydada vəsaitlərin köçürülməsi</li>
            <li>hesabdan nağd vəsaitlərin çıxarılması</li>
            <li>
                hesabdan əməliyyatlar üzrə arayış və çıxarışların, ödəniş
                sənədlərinin surətinin əldə edilməsi
            </li>
            <li>
                valyuta alışı və satışı üzrə çoxvalyutalı əməliyyatların aparılması
            </li>
            <li>məsləhət xidmətləri</li>
            <li>
                inkassasiya xidmətləri – müştəri ilə bağlanmış müqaviləyə uyğun
                olaraq nağd vəsaitlər və qiymətlilər bir ünvandan digərinə (o
                cümlədən müştərinin ofisindən Banka və geriyə) aparılır
            </li>
        </ul>
        <p>
            bankın hesablaşma sistemi filiallararası köçürmələri saniyələr
            içərisində və pulsuz həyata keçirməyə imkan verir. ölkədaxili və
            xaricə nağdsız köçürmələr Azərbaycan manatı və başqa valyutalarda
            həyata keçirilir
        </p>
    </div>

    <div class="Useful_Info">
        <h4>faydalı məlumat</h4>
        <div class="conditions">
            <div class="row">
                <div class="col-lg-11" id="contittle">komissiya</div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenConditionMenu()"
                            id="OpenConditionMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="condition_menu" id="condition_menu">
                <p>
                    hesabların açılması və onlar üzrə aparılmış əməliyyatlara görə
                    xidmət haqqı “Azər Türk Bank” Açıq Səhmdar Cəmiyyətinin
                    tariflərinə uyğun olaraq tutulur
                </p>
            </div>
        </div>

        <div class="requirements">
            <div class="row">
                <div class="col-lg-11" id="requirementstittle">sənədlər</div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenrequirementsMenu()"
                            id="OpenrequirementsMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="requirements_menu" id="requirements_menu">
                <ol>
                    <li>
                        hesabın açılması üçün Ərizə (Bank tərəfindən təqdim olunur)
                    </li>
                    <li>
                        bank hesabın açılması üçün Müqavilə (Bank tərəfindən təqdim
                        olunur)
                    </li>
                    <li>
                        şəxsiyyəti təsdiq edən sənəd (sənəddəki məlumatlar imza nümunəsi
                        vərəqəsində göstərilənlərə uyğunluğu yoxlanılır, bankda
                        saxlanılması üçün sənədin surəti çıxarılır və sənəd geri
                        qaytarılır)
                    </li>
                    <li>imza nümunəsi vərəqəsi (Bank tərəfindən təqdim olunur)</li>
                </ol>
            </div>
        </div>
    </div>
</div>

