
@{
    ViewData["Title"] = "Theree_d_secure";
}

<div class="other_page_banner">
    <img src="~/assets/images/atb_productpage_3dsecure.png" style="width: 100%" />
    <div class="text">

        <h2>3D Secure</h2>
        <p>xidməti</p>
    </div>
</div>

<div class="maincontainer">

    <div class="main_3d">

        <p>
            «3D Secure» – dələduzluq hallarından mühafizə və internet vasitəsilə keçirilən ödənişlərin təhlükəsizləşdirilməsini təmin edən texnologiyadır.
            bu müasir texnologiyanın iş prinsipi müştərinin autentifikasiyasının yalnız müştəriyə aid olan və kartın üzərində qeyd edilməyən xüsusi
            “3D” parolu vasitəsilə ilə həyata keçirilməsidir
        </p>

        <h3>üstünlükləri</h3>

        <ul>
            <li>
                <p>dələduzluq hallarından mühafizə olunmaq</p>
            </li>
            <li>
                <p>internet vasitəsilə keçirilən ödənişlərin təhlükəsizləşdirilməsi</p>
            </li>
        </ul>

        <h3>qoşulma qaydası</h3>

        <p>
            Bankın «SMS Bildiriş» xidmətinə qoşulmuş Müştərisi «3D Secure» xidmətini dəstəkləyən internet səhifə vasitəsilə
            alış-veriş əməliyyatını apardığı zaman heç bir qeydiyyatdan keçmədən müvafiq təhlükəsizlik şifrəsi onun mobil
            telefonuna SMS vasitəsilə gələcəkdir. bu şifrəni xüsusi xanaya daxil edib təsdiqləməklə, alış-veriş əməliyyatı uğurla
            yekunlaşacaqdır
        </p>

    </div>
</div>

