
@{
    ViewData["Title"] = "Google_pay";
}

<div class="other_page_banner">
    <img src="~/assets/images/googlepay_header.png" style="width: 100%" />
    <div class="text">
        <h2>Google Pay™</h2>
        <p>ilə təmassız <br />ödənişlər</p>
    </div>
</div>

<div class="maincontainer">
    <div class="Superiority">
        <div class="Superiority_Top">
            <div class="row">
                <div class="col-lg-6 ">
                    <h4>google pay</h4>
                    <p>
                        Android istifadəçiləri üçün təmassız ödəniş üsuludur.
                        smartfonunuz sizinlədirsə, pulqabına və ya karta ehtiyac
                        duymadan təhlükəsiz ödənişlər edin
                    </p>
                </div>
                <div class="col-lg-6 ">
                    <img src="~/assets/images/atbwebsite_googlepay.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="Superiority">
        <div class="row Superiority_Bottom">
            <div class="col-lg-6">
                <div class="Superiority_One">
                    <div class="row">
                        <div class="col-lg-8 ">
                            <h4>təhlükəsizrahat</h4>
                            <p>
                                Google Pay ilə kart məlumatlarınız qorunur və ödənişləriniz
                                tam təhlükəsizdir
                            </p>
                        </div>
                        <div class="col-lg-4 ">
                            <img src="~/assets/images/atb_productpagooglepay_bezopasno.png"
                                 alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="Superiority_Two">
                    <div class="row">
                        <div class="col-lg-8 ">
                            <h4>sürətli</h4>
                            <p>rahat ödəniş üçün sadəcə smartfonu yaxınlaşdırın</p>
                        </div>
                        <div class="col-lg-4 ">
                            <img src="~/assets/images/atb_productpagooglepay.png"
                                 alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2><b>google pay-ə nəcə qoşulmaq olar?</b></h2>
    </div>

    <div class="Cards">
        <div class="row">
            <div class="col-lg-3">
                <div class="cards">
                    <figure class="cards__item-image">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="47"
                             height="47"
                             viewBox="0 0 47 47"
                             fill="none">
                            <circle cx="23.5"
                                    cy="23.5"
                                    r="23.5"
                                    fill="url(#paint0_linear_1720_1988)"></circle>
                            <path d="M26.1603 13.6364V34H21.8549V17.723H21.7356L17.0723 20.6463V16.8281L22.1135 13.6364H26.1603Z"
                                  fill="black"></path>
                            <defs>
                                <linearGradient id="paint0_linear_1720_1988"
                                                x1="59.2923"
                                                y1="-20.6077"
                                                x2="11.2077"
                                                y2="54.9538"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6F0BBB"></stop>
                                    <stop offset="0.9999" stop-color="#F7EEFD"></stop>
                                    <stop offset="1"
                                          stop-color="#F7EEFD"
                                          stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </figure>
                    <h2 class="cards__item-title">kart seçin</h2>
                    <div class="cards__item-desc">
                        <p>
                            <a style="text-decoration: underline"
                               id="App_store"
                               href="https://apps.apple.com/us/app/atb360/id1526429191#?platform=iphone">atb360</a>
                            mobil tətbiqində Google Pay (Google Wallet)-ə əlavə edəcəyiniz
                            kartı seçin
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="cards">
                    <figure class="cards__item-image">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="47"
                             height="47"
                             viewBox="0 0 47 47"
                             fill="none">
                            <circle cx="23.5"
                                    cy="23.5"
                                    r="23.5"
                                    fill="url(#paint0_linear_1720_1989)"></circle>
                            <path d="M15.3322 34V30.8977L22.5808 24.1861C23.1973 23.5895 23.7143 23.0526 24.1319 22.5753C24.5562 22.098 24.8777 21.6307 25.0964 21.1733C25.3152 20.7093 25.4245 20.2088 25.4245 19.6719C25.4245 19.0753 25.2886 18.5616 25.0169 18.1307C24.7451 17.6932 24.3739 17.3584 23.9032 17.1264C23.4326 16.8878 22.899 16.7685 22.3024 16.7685C21.6793 16.7685 21.1357 16.8944 20.6717 17.1463C20.2077 17.3982 19.8497 17.7595 19.5978 18.2301C19.3459 18.7008 19.22 19.2609 19.22 19.9105H15.1333C15.1333 18.5781 15.435 17.4214 16.0382 16.4403C16.6414 15.4593 17.4866 14.7003 18.5737 14.1634C19.6608 13.6264 20.9136 13.358 22.3322 13.358C23.7905 13.358 25.06 13.6165 26.1404 14.1335C27.2276 14.6439 28.0727 15.3532 28.676 16.2614C29.2792 17.1695 29.5808 18.2102 29.5808 19.3835C29.5808 20.1525 29.4283 20.9115 29.1234 21.6605C28.8251 22.4096 28.2915 23.2415 27.5225 24.1562C26.7536 25.0644 25.6698 26.1548 24.2711 27.4276L21.2981 30.3409V30.4801H29.8493V34H15.3322Z"
                                  fill="black"></path>
                            <defs>
                                <linearGradient id="paint0_linear_1720_1989"
                                                x1="59.2923"
                                                y1="-20.6077"
                                                x2="11.2077"
                                                y2="54.9538"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6F0BBB"></stop>
                                    <stop offset="0.9999" stop-color="#F7EEFD"></stop>
                                    <stop offset="1"
                                          stop-color="#F7EEFD"
                                          stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </figure>
                    <h2 class="cards__item-title">Google Pay-ə əlavə edin</h2>
                    <div class="cards__item-desc">
                        <p>“Google Pay-ə əlavə et” (Add to Gpay) düyməsinə klikləyin</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="cards">
                    <figure class="cards__item-image">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="47"
                             height="47"
                             viewBox="0 0 47 47"
                             fill="none">
                            <circle cx="23.5"
                                    cy="23.5"
                                    r="23.5"
                                    fill="url(#paint0_linear_1720_1992)"></circle>
                            <path d="M22.449 34.2784C20.9642 34.2784 19.6417 34.0232 18.4817 33.5128C17.3283 32.9957 16.4168 32.2865 15.7473 31.3849C15.0845 30.4768 14.7431 29.4295 14.7232 28.2429H19.0584C19.0849 28.7401 19.2473 29.1776 19.5456 29.5554C19.8506 29.9266 20.2549 30.215 20.7587 30.4205C21.2625 30.6259 21.8292 30.7287 22.459 30.7287C23.1152 30.7287 23.6953 30.6127 24.199 30.3807C24.7028 30.1487 25.0972 29.8272 25.3823 29.4162C25.6673 29.0052 25.8098 28.5312 25.8098 27.9943C25.8098 27.4508 25.6574 26.9702 25.3525 26.5526C25.0542 26.1283 24.6233 25.7969 24.0598 25.5582C23.503 25.3196 22.8401 25.2003 22.0712 25.2003H20.1721V22.0384H22.0712C22.7208 22.0384 23.2942 21.9257 23.7914 21.7003C24.2952 21.4749 24.6863 21.1634 24.9647 20.7656C25.2431 20.3613 25.3823 19.8906 25.3823 19.3537C25.3823 18.8433 25.2596 18.3958 25.0144 18.0114C24.7757 17.6203 24.4377 17.3153 24.0002 17.0966C23.5693 16.8778 23.0655 16.7685 22.4888 16.7685C21.9055 16.7685 21.3719 16.8745 20.888 17.0866C20.4041 17.2921 20.0163 17.5871 19.7246 17.9716C19.4329 18.3561 19.2772 18.8068 19.2573 19.3239H15.1309C15.1507 18.1506 15.4855 17.1165 16.1351 16.2216C16.7847 15.3267 17.6597 14.6274 18.7601 14.1236C19.8671 13.6132 21.1167 13.358 22.5087 13.358C23.914 13.358 25.1436 13.6132 26.1976 14.1236C27.2516 14.634 28.0703 15.3234 28.6536 16.1918C29.2435 17.0535 29.5352 18.0213 29.5286 19.0952C29.5352 20.2353 29.1806 21.1866 28.4647 21.9489C27.7554 22.7112 26.8307 23.1951 25.6905 23.4006V23.5597C27.1886 23.7519 28.3288 24.2723 29.111 25.1207C29.8998 25.9626 30.2909 27.0166 30.2843 28.2827C30.2909 29.4427 29.9561 30.4735 29.28 31.375C28.6105 32.2765 27.6858 32.9858 26.5059 33.5028C25.3259 34.0199 23.9737 34.2784 22.449 34.2784Z"
                                  fill="black"></path>
                            <defs>
                                <linearGradient id="paint0_linear_1720_1992"
                                                x1="59.2923"
                                                y1="-20.6077"
                                                x2="11.2077"
                                                y2="54.9538"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#6F0BBB"></stop>
                                    <stop offset="0.9999" stop-color="#F7EEFD"></stop>
                                    <stop offset="1"
                                          stop-color="#F7EEFD"
                                          stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </figure>
                    <h2 class="cards__item-title">təsdiqləyin</h2>
                    <div class="cards__item-desc">
                        <p>
                            istifadə şərtləri ilə tanış olduğunuzu və qəbul etdiyinizi
                            təsdiq edin
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="cards">
                    <figure class="cards__item-image">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="47"
                             height="47"
                             viewBox="0 0 47 47"
                             fill="none">
                            <circle cx="23.5"
                                    cy="23.5"
                                    r="23.5"
                                    fill="url(#paint0_linear_1720_1995)"></circle>
                            <path d="M13 22.5L22 32.5L34.5 16"
                                  stroke="black"
                                  stroke-width="4"></path>
                            <defs>
                                <linearGradient id="paint0_linear_1720_1995"
                                                x1="59.2923"
                                                y1="-20.6077"
                                                x2="11.2077"
                                                y2="54.9538"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#1CC500"></stop>
                                    <stop offset="0.9999" stop-color="#F7EEFD"></stop>
                                    <stop offset="1"
                                          stop-color="#F7EEFD"
                                          stop-opacity="0"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                    </figure>
                    <h2 class="cards__item-title">hazırdır</h2>
                    <div class="cards__item-desc">
                        <p>
                            istifadə şərtləri ilə tanış olduğunuzu və qəbul etdiyinizi
                            təsdiq edin
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Useful_Info">
        <h4>faydalı məlumat</h4>
        <div class="interest_rates">
            <div class="row">
                <div class="col-lg-11" id="interest_rates_tittle">
                    faiz dərəcələri
                </div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="Open_interest_rates_menu()"
                            id="Open_interest_rates_menu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="interest_rates_menu" id="interest_rates_menu">
                <table>
                    <tr>
                        <th>müddət</th>
                        <th>faiz dərəcəsi</th>
                        <th>xidmət haqqı</th>
                    </tr>
                    <tr>
                        <td>12 ayadək</td>
                        <td>11.5%</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>24 ayadək</td>
                        <td>13.5%</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>36 ayadək</td>
                        <td>14%</td>
                        <td>0.5% (min. 50 AZN)</td>
                    </tr>
                    <tr>
                        <td>48 ayadək</td>
                        <td>15%</td>
                        <td>1% (min. 50 AZN)</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="conditions">
            <div class="row">
                <div class="col-lg-11" id="contittle">şərtlər</div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenConditionMenu()"
                            id="OpenConditionMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="condition_menu" id="condition_menu">
                <ul>
                    <li>məbləğ: <b>300 – 30 000 AZN</b></li>
                    <li>30 000 AZN-dək <b>zaminsiz</b></li>
                    <li>valyuta: <b>AZN</b></li>
                    <li>müddət: <b>3 – 48 ay</b></li>
                    <li>ödəniş şərti: <b>annuitet</b></li>
                    <li>sığorta: <b>tələb olunmur</b></li>
                </ul>
            </div>
        </div>

        <div class="requirements">
            <div class="row">
                <div class="col-lg-11" id="requirementstittle">tələblər</div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenrequirementsMenu()"
                            id="OpenrequirementsMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="requirements_menu" id="requirements_menu">
                <ul>
                    <li>yaş həddi: <b>18-70</b></li>
                    <li>
                        iş yeri<b> rəsmi iş yeri olan istənilən şəxs / təqaüdçü</b>
                    </li>
                    <li>
                        iş stajı:
                        <b>6 ay, sonuncu iş yerində fasiləsiz keçidlə minimum 3 ay</b>
                    </li>
                    <li>əməkhaqqı: <b>minimum tələb yoxdur</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>

