
.maincontainer{
    margin: .5rem 8rem !important;
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif
}

@import '_header.scss';
@import '_footer.scss';
@import '_index.scss';
@import '_other.scss';





