
@{
    ViewData["Title"] = "Classic_deposit";
}

<div class="other_page_banner">
    <img src="~/assets/images/atb_depositclassic-1.png"
         style="width: 100%" />
    <div class="text">
        <h2>"klassik"</h2>
        <p>əmanət</p>
        <button class="banner_btn subscribe"><a href="#">sifariş</a></button>
    </div>
</div>

<div class="maincontainer">

    <div class="Cards_Two">
        <div class="row">
            <div class="col-lg-3 card_info">
                <h5>müddət</h5>
                <p>3 il<p>
            </div>
            <div class="col-lg-3 card_info">
                <h5>faiz dərəcəsi</h5>
                <p>11%</p>
            </div>
            <div class="col-lg-3 card_info">
                <h5>valyuta</h5>
                <p>AZN və ya USD</p>
            </div>
            <div class="col-lg-3 card_info">
                <h5>atb card</h5>
                <p>hədiyyə</p>
            </div>
        </div>
    </div>

    <div class="Superiority">
        <div class="Superiority_Top">
            <h4><b>illik faiz dərəcəsi</b></h4>

            <div class="tittle">
                <p>illik faiz dərəcəsi</p>
            </div>

            <div class="tittle_to">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>müddət</h4>
                    </div>
                    <div class="col-lg-4">
                        <p>AZN</p>
                    </div>
                    <div class="col-lg-4">
                        <p>USD</p>
                    </div>
                </div>

            </div>

            <div class="tittle_table">
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <p>aylıq ödəniş</p>
                        <p>müddət sonunda</p>
                    </div>
                    <div class="col-lg-4">
                        <p>aylıq ödəniş</p>
                        <p>müddət sonunda</p>
                    </div>
                </div>
            </div>

            <div class="tables">
                <div class="row">
                    <div class="col-lg-2 ">
                        <h4>12 ay</h4>
                    </div>
                    <div class="col-lg-2">
                        <p>8%</p>
                    </div>
                    <div class="col-lg-2">
                        <p>9%</p>
                    </div>
                    <div class="col-lg-2">
                        <p>-</p>
                    </div>
                    <div class="col-lg-2">
                        <p>0.1%</p>
                    </div>
                </div>
            </div>
            <div class="tables">
                <div class="row">
                    <div class="col-lg-2 ">
                        <h4>24 ay</h4>
                    </div>
                    <div class="col-lg-2">
                        <p>9%</p>
                    </div>
                    <div class="col-lg-2">
                        <p>10%</p>
                    </div>
                    <div class="col-lg-2">
                        <p>-</p>
                    </div>
                    <div class="col-lg-2">
                        <p>-</p>
                    </div>
                </div>
            </div>
            <div class="tables">
                <div class="row">
                    <div class="col-lg-2">
                        <h4>36 ay</h4>
                    </div>
                    <div class="col-lg-2">
                        <p>10%</p>
                    </div>
                    <div class="col-lg-2">
                        <p>11%</p>
                    </div>
                    <div class="col-lg-2">
                        <p>-</p>
                    </div>
                    <div class="col-lg-2">
                        <p>-</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row Superiority_Bottom">
            <div class="col-lg-6">
                <div class="Superiority_One">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <h4>kredit xətti</h4>
                            <p>
                                əmanət sahibləri kart üzrə əmanət məbləğinin <b>90%</b> -i həcmində kredit xətti əldə edə bilərlər
                            </p>
                        </div>
                        <div class="col-lg-6 ">
                            <img src="~/assets/images/atb_depositclassic_215x175px.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="Superiority_Two">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <h4>fərdi yanaşma</h4>
                            <p>
                                əmanətin məbləği 500 000 AZN-dən yuxarı olarsa, faiz dərəcələri fərdi qaydada müəyyən olunur
                            </p>
                        </div>
                        <div class="col-lg-6 ">
                            <img src="~/assets/images/atb_depositclassic2_215x175px.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Online_Order">

        <h4>onlayn sifariş</h4>

        <div class="row">
            <div class="col-lg-6">
                <input type="text" placeholder="ad, soyad">
            </div>
            <div class="col-lg-6">
                <input type="text" placeholder="fin kod">
            </div>
        </div>

        <input type="tel" placeholder="telefon">

        <hr>

        <div class="deposit_main" id="deposit_main">
            <div class=" deposit">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <select>
                                    <option value="valyuta">valyuta</option>
                                    <option value="AZN">AZN</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select>
                                    <option value="faizlərin ödənilməsi">
                                        faizlərin ödənilməsi
                                    </option>
                                    <option value="müddətin sonunda">müddətin sonunda</option>
                                    <option value="aylıq ödəniş">aylıq ödəniş</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <select>
                                    <option value="valyuta">müddət</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <input type="text"
                                       placeholder="məbləğ (min. 1000 AZN/USD)*" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 deposit_interest">
                        <div class="periodly d-none">
                            <p>faizlər - müddətin sonunda</p>
                            <p>9% - 1.50 AZN</p>
                        </div>
                        <div class="monthly">
                            <p>faizlər - aylıq</p>
                            <p>8% - 1.33 AZN</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="cash_order_last">
            <div class="row">
                <div class="col-lg-1">
                    <label class="cus-checkbox__label">
                        <input type="checkbox" class="cus-checkbox__input" checked="">
                        <span class="cus-checkbox__check"></span>
                    </label>
                </div>
                <div class="col-lg-11">
                    <p>məlumatlarımın Asan Finansdan əldə edilməsi və AKB reyestrində sorğu edilməsinə razıyam</p>
                </div>
            </div>
        </div>

        <div class="button">
            <button id="button">göndər</button>
        </div>

        <p>*bütün bəndlərin doldurulması mütləqdir</p>


    </div>





    <div class="Useful_Info">
        <h4>faydalı məlumat</h4>
        <div class="interest_rates">
            <div class="row">
                <div class="col-lg-11" id="interest_rates_tittle">
                    faiz dərəcələri
                </div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="Open_interest_rates_menu()"
                            id="Open_interest_rates_menu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="interest_rates_menu" id="interest_rates_menu">
                <table>
                    <tr>
                        <th>müddət</th>
                        <th>faiz dərəcəsi</th>
                        <th>xidmət haqqı</th>
                    </tr>
                    <tr>
                        <td>12 ayadək</td>
                        <td>11.5%</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>24 ayadək</td>
                        <td>13.5%</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>36 ayadək</td>
                        <td>14%</td>
                        <td>0.5% (min. 50 AZN)</td>
                    </tr>
                    <tr>
                        <td>48 ayadək</td>
                        <td>15%</td>
                        <td>1% (min. 50 AZN)</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="conditions">
            <div class="row">
                <div class="col-lg-11" id="contittle">şərtlər</div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenConditionMenu()"
                            id="OpenConditionMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="condition_menu" id="condition_menu">
                <ul>
                    <li>məbləğ: <b>300 – 30 000 AZN</b></li>
                    <li>30 000 AZN-dək <b>zaminsiz</b></li>
                    <li>valyuta: <b>AZN</b></li>
                    <li>müddət: <b>3 – 48 ay</b></li>
                    <li>ödəniş şərti: <b>annuitet</b></li>
                    <li>sığorta: <b>tələb olunmur</b></li>
                </ul>
            </div>
        </div>

        <div class="requirements">
            <div class="row">
                <div class="col-lg-11" id="requirementstittle">tələblər</div>
                <div class="col-lg-1">
                    <button class="subscribe"
                            onclick="OpenrequirementsMenu()"
                            id="OpenrequirementsMenu">
                        <i class="fa-solid fa-plus" id="openiconcon"></i>
                    </button>
                </div>
            </div>
            <div class="requirements_menu" id="requirements_menu">
                <ul>
                    <li>yaş həddi: <b>18-70</b></li>
                    <li>
                        iş yeri<b> rəsmi iş yeri olan istənilən şəxs / təqaüdçü</b>
                    </li>
                    <li>
                        iş stajı:
                        <b>6 ay, sonuncu iş yerində fasiləsiz keçidlə minimum 3 ay</b>
                    </li>
                    <li>əməkhaqqı: <b>minimum tələb yoxdur</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>

