
@{
    ViewData["Title"] = "Business";
}


  

        <div class="slider-container">

            <div class="mySlides fades">
                <img src="~/assets/images/slider_business1.png" style="width:100%">
                <div class="text">
                    <h2>atb pos</h2>
                    <p>tətbiqi</p>
                    <button class="slider_btn subscribe"><a href="~/atb_pos.html">ətraflı</a></button>
                </div>
            </div>

            <div class="mySlides fades">
                <img src="~/assets/images/slider_business2.png" style="width:100%">
                <div class="text">
                    <h2>bütün üstünlüklər</h2>
                    <p>əmək haqqı kartlarında</p>
                    <button class="slider_btn subscribe"><a href="~/labour_card.html">sifariş</a></button>
                </div>
            </div>

            <div class="mySlides fades">
                <img src="~/assets/images/slider_business3.png" style="width:100%">
                <div class="text">
                    <h2>biznes kredit</h2>
                    <p>xətti</p>
                    <button class="slider_btn subscribe"><a href="~/business_credit_line.html">sifariş</a></button>
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
   

 

        <div class="Cards">
            <div class="row">
                <div class="col-lg-3">
                    <a href="~/big_business_credit.html">
                        <div class="cards">
                            <figure class="cards__item-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                                    <path d="M25.3951 29.9278V28.9995C25.3951 28.2343 25.5495 27.5456 25.8584 26.9335C26.1673 26.3146 26.6072 25.8256 27.178 25.4663C27.7487 25.1069 28.427 24.9273 29.2126 24.9273C30.005 24.9273 30.6833 25.1069 31.2473 25.4663C31.8114 25.8256 32.2445 26.3146 32.5467 26.9335C32.8489 27.5456 33 28.2343 33 28.9995V29.9278C33 30.693 32.8456 31.3817 32.5367 31.9938C32.2345 32.606 31.8013 33.0951 31.2373 33.461C30.6732 33.8203 29.9983 34 29.2126 34C28.4135 34 27.7286 33.8203 27.1578 33.461C26.5937 33.0951 26.1572 32.606 25.8483 31.9938C25.5462 31.3817 25.3951 30.693 25.3951 29.9278ZM26.9765 28.9995V29.9278C26.9765 30.6797 27.1612 31.3218 27.5305 31.8541C27.9065 32.3798 28.4673 32.6426 29.2126 32.6426C29.9379 32.6426 30.4852 32.3798 30.8545 31.8541C31.2238 31.3218 31.4085 30.6797 31.4085 29.9278V28.9995C31.4085 28.2476 31.2272 27.6088 30.8646 27.0832C30.502 26.5509 29.9513 26.2847 29.2126 26.2847C28.4807 26.2847 27.9233 26.5509 27.5406 27.0832C27.1645 27.6088 26.9765 28.2476 26.9765 28.9995ZM15 18.0005V17.0722C15 16.307 15.1544 15.6183 15.4633 15.0062C15.7722 14.394 16.2121 13.9083 16.7829 13.549C17.3537 13.183 18.0319 13 18.8176 13C19.61 13 20.2882 13.183 20.8523 13.549C21.4163 13.9083 21.8495 14.394 22.1517 15.0062C22.4538 15.6183 22.6049 16.307 22.6049 17.0722V18.0005C22.6049 18.7657 22.4505 19.4577 22.1416 20.0765C21.8394 20.6887 21.4063 21.1744 20.8422 21.5337C20.2781 21.8931 19.6032 22.0727 18.8176 22.0727C18.0185 22.0727 17.3335 21.8931 16.7627 21.5337C16.1987 21.1744 15.7622 20.6887 15.4533 20.0765C15.1511 19.4577 15 18.7657 15 18.0005ZM16.5814 17.0722V18.0005C16.5814 18.7524 16.7661 19.3945 17.1354 19.9268C17.5115 20.4525 18.0722 20.7153 18.8176 20.7153C19.5428 20.7153 20.0901 20.4525 20.4594 19.9268C20.8288 19.3945 21.0134 18.7524 21.0134 18.0005V17.0722C21.0134 16.3203 20.8321 15.6816 20.4695 15.1559C20.1069 14.6236 19.5562 14.3574 18.8176 14.3574C18.0856 14.3574 17.5283 14.6236 17.1455 15.1559C16.7694 15.6816 16.5814 16.3203 16.5814 17.0722ZM15.9267 33.7205L30.099 13.2795H31.8819L17.7096 33.7205H15.9267Z" fill="black"></path>
                                    <path d="M23.5 4.08832L29.5288 1L33.2059 6.6894L39.9711 7.02884L40.3114 13.7941L46 17.4712L42.9117 23.5L46 29.5288L40.3114 33.2059L39.9711 39.9712L33.2059 40.3106L29.5288 46L23.5 42.9117L17.4711 46L13.7941 40.3106L7.02882 39.9712L6.69017 33.2059L1 29.5288L4.0883 23.5L1 17.4712L6.69017 13.7941L7.02882 7.02884L13.7941 6.6894L17.4711 1L23.5 4.08832Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </figure>
                            <h2 class="cards__item-title">iri biznes krediti</h2>
                            <div class="cards__item-desc"><p>illik 11.5%-dən</p></div>
                            <a href="" class="cards__item-href"></a>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="~/entrepreneur_card.html">
                        <div class="cards">
                            <figure class="cards__item-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                                    <path d="M11.4493 32.9855H56" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">

                                    </path>
                                    <path d="M11.4493 31.4493H56" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M53.0044 39.8985C54.6174 39.8985 56 38.5928 56 36.9797V13.629C56 12.0159 54.6942 10.7101 53.0044 10.7101H14.4449C12.7551 10.7101 11.4493 12.0159 11.4493 13.629V36.9797C11.4493 38.5928 12.7551 39.8985 14.4449 39.8985H53.0044Z" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M16.058 16.087H21.4348" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M47.5507 39.8986V45.429C47.5507 47.042 46.2449 48.3478 44.5551 48.3478H5.99565C4.3058 48.3478 3 47.042 3 45.429V22.0783C3 20.4652 4.3058 19.1594 5.99565 19.1594H11.4493" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </figure>
                            <h2 class="cards__item-title">"sahibkar" kartı</h2>
                            <div class="cards__item-desc"><p>güzəştli tariflər və 24/7 nəzarət</p></div>
                            <a href="" class="cards__item-href"></a>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3">
                    <a href="~/business_deposits.html">
                        <div class="cards">
                            <figure class="cards__item-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                                    <g clip-path="url(#clip0_2266_682)">
                                        <path d="M12.9398 27.504H3.05176" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M16.2998 39.12H9.67578" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M19.5639 33.264H6.31592" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M32.812 12.624V6" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M27.916 6H37.804" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M15.1479 22.512C18.7959 16.56 25.3239 12.624 32.8119 12.624C44.2359 12.624 53.548 21.84 53.548 33.36C53.548 44.784 44.2359 54 32.8119 54C25.3239 54 18.7959 50.064 15.1479 44.112" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M47.7881 17.616L50.1881 15.12L51.0521 15.888L48.5561 18.384" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M24.9398 32.88C24.2678 32.112 23.8838 30.96 23.8838 29.712C23.8838 28.464 24.2678 27.312 24.9398 26.544C25.6118 25.776 26.5718 25.296 27.7238 25.296C28.8758 25.296 29.8358 25.68 30.5078 26.544C31.1798 27.312 31.5638 28.464 31.5638 29.712C31.5638 31.056 31.1798 32.112 30.5078 32.88C29.8358 33.648 28.8758 34.128 27.7238 34.128C26.5718 34.128 25.6118 33.744 24.9398 32.88ZM29.1638 31.824C29.5478 31.344 29.6438 30.672 29.6438 29.712C29.6438 28.848 29.4518 28.176 29.1638 27.6C28.7798 27.12 28.2998 26.832 27.7238 26.832C27.1478 26.832 26.6678 27.12 26.2838 27.6C25.8998 28.08 25.7078 28.752 25.7078 29.616C25.7078 30.48 25.8998 31.152 26.2838 31.632C26.6678 32.112 27.1478 32.4 27.7238 32.4C28.3958 32.496 28.8758 32.304 29.1638 31.824ZM37.4198 25.488H39.7238L28.6838 41.616H26.3798L37.4198 25.488ZM35.4998 40.56C34.8278 39.792 34.4438 38.64 34.4438 37.392C34.4438 36.048 34.8278 34.992 35.4998 34.224C36.1718 33.456 37.1318 32.976 38.2838 32.976C39.4358 32.976 40.3958 33.36 41.0678 34.224C41.7398 34.992 42.1238 36.144 42.1238 37.392C42.1238 38.736 41.7398 39.792 41.0678 40.56C40.3958 41.328 39.4358 41.808 38.2838 41.808C37.1318 41.712 36.2678 41.328 35.4998 40.56ZM39.7238 39.408C40.1078 38.928 40.2998 38.256 40.2998 37.392C40.2998 36.528 40.1078 35.856 39.7238 35.376C39.3398 34.896 38.8598 34.608 38.2838 34.608C37.7078 34.608 37.2278 34.896 36.8438 35.376C36.4598 35.856 36.2678 36.528 36.2678 37.488C36.2678 38.352 36.4598 39.024 36.8438 39.6C37.2278 40.08 37.7078 40.368 38.2838 40.368C38.9558 40.08 39.4358 39.888 39.7238 39.408Z" fill="black"></path>
                                    </g>
                                    <defs><clipPath id="clip0_2266_682"><rect width="59" height="59" fill="white"></rect></clipPath></defs>
                                </svg>
                            </figure>
                            <h2 class="cards__item-title">biznes əmanətlər</h2>
                            <div class="cards__item-desc"><p>çevik və sərfəli faiz</p></div>
                            <a href="" class="cards__item-href"></a>
                        </div>
                    </a>

                </div>

                <div class="col-lg-3">
                    <a href="~/pos_ekvarinq.html">
                        <div class="cards">
                            <figure class="cards__item-image">
                                <svg xmlns="http://www.w3.org/2000/svg" width="59" height="59" viewBox="0 0 59 59" fill="none">
                                    <g clip-path="url(#clip0_2264_3613)">
                                        <path d="M45.7034 25.3207C46.9724 26.5896 46.9724 28.6517 45.7034 29.9207L23.5759 52.0483C22.3069 53.3172 20.2448 53.3172 18.9759 52.0483L7.95172 41.0241C6.68276 39.7552 6.68276 37.6931 7.95172 36.4241L30.0793 14.2965C31.3483 13.0276 33.4103 13.0276 34.6793 14.2965L45.7034 25.3207Z" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M31.9758 22.0744L25.248 28.8059L31.1942 34.7488L37.922 28.0172L31.9758 22.0744Z" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21.2758 35.5517L18.8965 33.1724" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M26.8276 41.1035L24.4482 38.7242" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.3105 39.5172L14.9312 37.1379" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M22.8622 45.069L20.4829 42.6897" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M43.4829 7C48.7174 7 53.0002 11.2828 53.0002 16.5172" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M43.4829 11.7586C46.1002 11.7586 48.2415 13.9 48.2415 16.5172" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                    <defs><clipPath id="clip0_2264_3613"><rect width="59" height="59" fill="white"></rect></clipPath></defs>
                                </svg>
                            </figure>
                            <h2 class="cards__item-title">smart kassa</h2>
                            <div class="cards__item-desc"><p>yeni nəsil pos-terminal və kassa aparatı</p></div>
                            <a href="" class="cards__item-href"></a>
                        </div>
                    </a>

                </div>

            </div>

        </div>

        <div class="Online_Request">
            <h2>hesabı elə indi aç!</h2>
            <p>əlaqə məlumatlarınızı daxil edin, qısa zamanda sizinlə əlaqə saxlayacağıq</p>
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" placeholder="ad, soyad">
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="vöen">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <input type="tel" placeholder="telefon">
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="email">
                </div>
            </div>
            <div class="open_account_last">
                <div class="row">
                    <div class="col-lg-1">
                        <label class="cus-checkbox__label">
                            <input type="checkbox" class="cus-checkbox__input" checked="">
                            <span class="cus-checkbox__check"></span>
                        </label>
                    </div>
                    <div class="col-lg-11">
                        <p>hüquqi şəxs və ya fərdi sahibkar olduğumu təsdiq edirəm</p>
                    </div>
                </div>
            </div>

            <div class="button">
                <button id="button">göndər</button>
            </div>

            <p>*bütün bəndlərin doldurulması mütləqdir</p>

        </div>

        <div class="Usefull_Card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="Usefull_Card_Third">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>atb business</h2>
                                <p>sadə və rahat biznes <br> internet bankçılıq</p>
                                <a href="~/atbbusiness.html">ətraflı</a>
                            </div>
                            <div class="col-lg-6">
                                <img src="~/assets/images/atbbusiness.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="Usefull_Card_Four">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>əməkhaqqı kartı</h2>
                                <p>atb kartın bütün üstünlükləri <br> indi əməkhaqqı kartlarında!</p>
                                <a href="~/labour_card.html">sifariş</a>
                            </div>
                            <div class="col-lg-6">
                                <img src="~/assets/images/labourcard.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Currency">
            <div class="row">
                <div class="col-lg-6">
                    <div class="currency_exchange">
                        <h2 class="title-block">valyuta məzənnəsi</h2>
                        <div class="update">
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>yeniləndi 06:12, 10.12.2023</p>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#">ətraflı</a>
                                </div>
                            </div>
                        </div>
                        <div class="exchangerates-table">
                            <table class="ratestb">
                                <thead>
                                    <tr>
                                        <th rowspan="1"></th>
                                        <th rowspan="1"></th>
                                        <th colspan="1">alış</th>
                                        <th colspan="1">satış</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="flag">
                                            <img decoding="async" width="28" height="20" src="https://atb.az/wp-content/uploads/2023/01/US.svg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-src="https://atb.az/wp-content/uploads/2023/01/US.svg" data-ll-status="loaded" data-uw-rm-alt-original=""><noscript><img decoding="async" width="28" height="20" src="https://atb.az/wp-content/uploads/2023/01/US.svg" class="attachment-full size-full" alt="" /></noscript>
                                        </td>
                                        <td class="currency">USD</td>
                                        <td class="rate" id="vl"><span>1.6985</span></td>
                                        <td class="rate"><span>1.7025</span></td>
                                    </tr>
                                    <tr>
                                        <td class="flag">
                                            <img decoding="async" width="28" height="20" src="https://atb.az/wp-content/uploads/2023/01/EU.svg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-src="https://atb.az/wp-content/uploads/2023/01/EU.svg" data-ll-status="loaded" data-uw-rm-alt-original=""><noscript><img decoding="async" width="28" height="20" src="https://atb.az/wp-content/uploads/2023/01/EU.svg" class="attachment-full size-full" alt="" /></noscript>
                                        </td>
                                        <td class="currency">EUR</td>
                                        <td class="rate" id="vl"><span>1.8130</span></td>
                                        <td class="rate"><span>1.8550</span></td>
                                    </tr>
                                    <tr>
                                        <td class="flag">
                                            <img decoding="async" width="28" height="20" src="https://atb.az/wp-content/uploads/2023/09/frame-32.svg" class="attachment-full size-full entered lazyloaded" alt="" data-lazy-src="https://atb.az/wp-content/uploads/2023/09/frame-32.svg" data-ll-status="loaded" data-uw-rm-alt-original=""><noscript><img loading="lazy" decoding="async" width="28" height="20" src="https://atb.az/wp-content/uploads/2023/09/frame-32.svg" class="attachment-full size-full" alt="" /></noscript>
                                        </td>
                                        <td class="currency">GBP</td>
                                        <td class="rate" id="vl"><span>2.1200</span></td>
                                        <td class="rate"><span>2.1760</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="currency_calc">
                        <div class="currency_info">
                            <div class="row">
                                <div class="col-lg-2">
                                    <i style="font-size: 3rem;" class="fa-solid fa-wallet"></i>
                                </div>
                                <div class="col-lg-6">
                                    <h2>valyuta kalkulyatoru</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="currency_calculation">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="number" id="amount-one" placeholder="0" value="1" />
                                        </div>
                                        <div class="col-lg-4">
                                            <select id="currency_calculation-one">
                                                <option value="AZN">AZN</option>
                                                <option value="USD" selected>USD</span></option>
                                                <option value="EURO">EURO</span></option>
                                                <option value="GBP">GBP</span></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="cross_arrow">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                            <div class="col-lg-1 d-none">
                                <div class="swap-rate-container">
                                    <button class="btn" id="swap">
                                        Swap
                                    </button>
                                    <div class="rate" id="rate"></div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="currency_calculation">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="number" id="amount-two" placeholder="0" />
                                        </div>
                                        <div class="col-lg-4">
                                            <select id="currency_calculation-two">
                                                <option value="AZN" selected>AZN</option>
                                                <option value="USD">USD</span></option>
                                                <option value="EURO">EURO</span></option>
                                                <option value="GBP">GBP</span></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="News">
            <h2>bankımızın xəbərləri</h2>
            <div class="row">
                <div class="col-lg-3">
                    <div class="news_box">
                        <h3>
                            <a href="~/atb_friday.html">
                                Azər Türk Bank “atb friday” kampaniyasının müddətini uzatdı
                            </a>
                            <p>07.12.2023</p>
                        </h3>
                        <p>Dövlət bankı Azər Türk Bank müştərilərin istəyini nəzərə alaraq, onlar üçün sərfəli "atb friday" kampaniyasının müddətini...</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="news_box">
                        <h3>
                            <a href="~/atb_card_visa.html">
                                atb Visa kartı ilə Samsung məhsullarına 10% endirim
                            </a>
                            <p>01.12.2023</p>
                        </h3>
                        <p>Yeni il ərəfəsində özünə və ya yaxınlarına texnika hədiyyə etmək istəyənlər üçün əla fürsət olacaq. Belə ki, Azər Türk Ba...</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="news_box">
                        <h3>
                            <a href="~/atb_friday.html">
                                Azər Türk Bank “atb friday” kampaniyasını davam etdirir
                            </a>
                            <p>29.11.2023</p>
                        </h3>
                        <p>Dövlət bankı Azər Türk Bank bu günlərdə başladığı "atb friday" kampaniyası çərçivəsində fiziki şəxslərə illik faiz dərəcə...</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="all_news_box">
                        <h3>
                            <a href="~/all_news.html">bütün xəbərləri oxu</a>
                        </h3>
                        <i id="all_news_icon" class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>

        </div>





