
@{
    ViewData["Title"] = "MIDA";
}

<div class="other_page_banner">
    <img src="~/assets/images/atb_productpage_mida.png" style="width: 100%" />
    <div class="text">
        <h2>"MİDA" MMC xətti ilə</h2>
        <p>
            güzəştli ipoteka
        </p>
        <button class="banner_btn subscribe"><a href="#">sifariş</a></button>
    </div>
</div>

<div class="maincontainer">

    <div class="Cards_Two">
        <div class="row">
            <div class="col-lg-3 card_info">
                <h5>kredit məbləği</h5>
                <p>100 000 AZN-dək</p>
            </div>
            <div class="col-lg-3 card_info">
                <h5>müddət</h5>
                <p>30 il</p>
            </div>
            <div class="col-lg-3 card_info">
                <h5>illik faiz dərəcəsi</h5>
                <p>4%</p>
            </div>
            <div class="col-lg-3 card_info">
                <h5>ilkin ödəniş</h5>
                <p>10%</p>
            </div>
        </div>
    </div>

    <div class="info">
        <p>güzəştli ipoteka kreditləri Azərbaycan Respublikasının İpoteka və Kredit Zəmanət Fondunun hesabına verilir</p>
    </div>


    <div class="Superiority">
        <div class="Superiority_Bottom">
            <div class="Superiority_Two">
                <h4>ilkin razılıq üçün müraciət</h4>
                <div class="row">
                    <div class="col-lg-6 ">
                        <ul>
                            <li>
                                AKB razılıq ərizəsini buradan yükləyib, məlumatları <br>
                                doldurduqdan sonra sənədin skan versiyası və ya foto şəklini müvafiq bəndə <br>
                                əlavə edin
                            </li>
                            <li>yüklənilən sənədlərin həcmi <b>2 Mb</b>-dan  çox olmamalıdır</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="link">
                            <i class="fa-solid fa-file-pdf"></i>
                            <a href="https://atb.az/wp-content/uploads/2023/09/mkr_numune.pdf" target="_blank" rel="noopener"> AKB razılıq ərizəsi (nümunə)</a>
                        </div>
                        <div class="link">
                            <i id="doc" class="fa-solid fa-file"></i>
                            <a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fatb.az%2Fwp-content%2Fuploads%2F2023%2F09%2Fraziliq_erzesi_akb.docx&wdOrigin=BROWSELINK" target="_blank" rel="noopener">AKB razılıq ərizəsi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <p>müraciətlər MİDA tərəfindən elektron kabinet sahibi olan müştərilərdən qəbul olunur</p>
    </div>


    <div class="initial_application">
        <h2>ilkin müraciət</h2>

        <h4>şəxsiyyət vəsiqənin ön tərəfi</h4>
        <form>
            <div class="row">
                <div class="col-lg-10">
                    <label for="myfile">faylı seçin</label>
                </div>

                <div class="col-lg-2">
                    <input type="file">
                </div>
            </div>
        </form>

        <h4>əməkhaqqı kartından son 12 ay ərzində çıxarış</h4>
        <form>
            <div class="row">
                <div class="col-lg-10">
                    <label for="myfile">faylı seçin</label>
                </div>

                <div class="col-lg-2">
                    <input type="file">
                </div>
            </div>
        </form>
        <form>
            <div class="row">
                <div class="col-lg-10">
                    <label for="myfile">faylı seçin</label>
                </div>

                <div class="col-lg-2">
                    <input type="file">
                </div>
            </div>
        </form>
        <form>
            <div class="row">
                <div class="col-lg-10">
                    <label for="myfile">faylı seçin</label>
                </div>

                <div class="col-lg-2">
                    <input type="file">
                </div>
            </div>
        </form>

        <h4>iş yerindən arayış</h4>
        <form>
            <div class="row">
                <div class="col-lg-10">
                    <label for="myfile">faylı seçin</label>
                </div>

                <div class="col-lg-2">
                    <input type="file">
                </div>
            </div>
        </form>

        <h4>Asan xidmət mərkəzindən alınmış ailə tərkibi haqqında arayış</h4>
        <form>
            <div class="row">
                <div class="col-lg-10">
                    <label for="myfile">faylı seçin</label>
                </div>

                <div class="col-lg-2">
                    <input type="file">
                </div>
            </div>
        </form>

        <h4>fin kod</h4>
        <input class="inputs" type="text" placeholder="123ABC4">

        <h4>MİDA tərəfindən verilmiş şəxsi kabinetin nömrəsi</h4>
        <input class="inputs" type="text">

        <h4>ailə vəziyyəti?</h4>

        <select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required select2-hidden-accessible" aria-required="true" aria-invalid="false" name="filial" data-select2-id="select2-data-1-0nsd" tabindex="-1" aria-hidden="true">
            <option value="" data-select2-id="select2-data-3-4yzf">ailə vəziyyəti?</option>
            <option value="Müştəri xidmətləri mərkəzi" data-select2-id="select2-data-22-suop"> subay</option>
            <option value="Müştəri xidmətləri mərkəzi" data-select2-id="select2-data-22-suop"> evli</option>
        </select>

        <h4>birgə borc alan?</h4>

        <select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required select2-hidden-accessible" aria-required="true" aria-invalid="false" name="filial" data-select2-id="select2-data-1-0nsd" tabindex="-1" aria-hidden="true">
            <option value="" data-select2-id="select2-data-3-4yzf">birgə borc alan?</option>
            <option value="Müştəri xidmətləri mərkəzi" data-select2-id="select2-data-22-suop"> yoxdur</option>
            <option value="Müştəri xidmətləri mərkəzi" data-select2-id="select2-data-22-suop"> var</option>
        </select>

        <div class="row">
            <div class="col-lg-4">
                <input class="inputs" type="text" placeholder="soyad">
            </div>
            <div class="col-lg-4">
                <input class="inputs" type="text" placeholder="ad">
            </div>
            <div class="col-lg-4">
                <input class="inputs" type="text" placeholder="ata adı">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <input class="inputs" type="tel" placeholder="telefon">
            </div>
            <div class="col-lg-6">
                <input class="inputs" type="email" placeholder="email">
            </div>
        </div>

        <div class="cash_order_last">
            <div class="row">
                <div class="col-lg-1">
                    <label class="cus-checkbox__label">
                        <input type="checkbox" class="cus-checkbox__input" checked="">
                        <span class="cus-checkbox__check"></span>
                    </label>
                </div>
                <div class="col-lg-11">
                    <p>
                        məlumatlarımın Asan Finansdan əldə edilməsi və AKB reyestrində sorğu edilməsinə razıyam
                    </p>
                </div>
            </div>

            <div class="link">
                <i id="doc" class="fa-solid fa-file"></i>
                <a href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fatb.az%2Fwp-content%2Fuploads%2F2023%2F09%2Fraziliq_erzesi_akb.docx&wdOrigin=BROWSELINK" target="_blank" rel="noopener">AKB razılıq ərizəsi</a>
            </div>

            <div class="button">
                <button id="button">göndər</button>
            </div>

            <p>*bütün bəndlərin doldurulması mütləqdir</p>

            <p> <a href="./security.html">müraciət qaydaları</a>  ilə razıyam</p>
        </div>
    </div>


</div>

