
@{
    ViewData["Title"] = "Rates";
}

<div class="other_page_banner_2">
    <img src="~/assets/images/rates.jpg">
    <div class="text">
        <h2>tariflər</h2>
        <p>fərdi müştərilər üçün</p>
    </div>
</div>

<div class="maincontainer">

    <div class="Info_Main">
        <ul>
            <li>bu bölmədə Azər Türk Bankın məhsul və xidmətləri üzrə fiziki şəxslər üçün son tariflər ilə tanış ola bilərsiniz</li>
            <li>bölmə müntəzəm olaraq yenilənir, e-mail məktublara abunə olaraq son yeniliklərdən ilk siz xəbərdar olun</li>
        </ul>
    </div>

    <div class="Rates_Boxs">
        <div class="Rates_Box">
            <div class="row">
                <div class="col-lg-6">
                    <p>tariflər <br> atb card</p>
                </div>
                <div class="col-lg-6">
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/11/atb-tarifler-atb_card-debet-azn-mob-az-novermber_new_2023.pdf" target="_blank" rel="noopener">atb card debit</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/11/atb-tarifler-atb_card-kredit-mob-az-novermber_new_2023.pdf" target="_blank" rel="noopener">atb card kredit</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/11/atb-tarifler-atb_premiumcard-mob-az-novermber_new_2023.pdf" target="_blank" rel="noopener">atb card premium</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/11/atb-tarifler-atb_juniorcard-mob-az-novermber_new_2023.pdf" target="_blank" rel="noopener">atb card junior</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/11/atb-tarifler-atb_card-depozit-mob-az-novermber_new_2023.pdf" target="_blank" rel="noopener">atb card depozit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Rates_Box">
            <div class="row">
                <div class="col-lg-6">
                    <p>tariflər <br> bank xidmətləri <br>  üzrə</p>
                </div>
                <div class="col-lg-6">
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/08/atb_tarifler_fiziki-mob-may2023-az.pdf" target="_blank" rel="noopener">fiziki şəxslər üçün</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/08/atb_tarifler_qeyri-rezident-mob-az.pdf" target="_blank" rel="noopener">qeyri-rezident fiziki şəxslər üçün</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Rates_Box">
            <div class="row">
                <div class="col-lg-6">
                    <p>digər <br> tariflər</p>
                </div>
                <div class="col-lg-6">
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/08/atb_vergilerin-odenislerine-celb-olunan-xidmetler-mob-jan2022.pdf" target="_blank" rel="noopener">vergi̇ləri̇n ödəni̇şləri̇nə cəlb olunan xi̇dmətlər</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/08/atb-moneysend.pdf" target="_blank" rel="noopener">C2C üzrə xarici ölkələrin siyahısı</a>
                    </div>
                    <div class="link">
                        <i class="fa-solid fa-file-pdf"></i>
                        <a href="https://atb.az/wp-content/uploads/2023/12/cards-limits-az-dec2023.pdf" target="_blank" rel="noopener">Kart əməliyyatlarına tətbiq edilən məhdudiyyətlər</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

